body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5faff;
}

.profile-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.card {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 12px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #00bfff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.profile-container {
    max-width: 700px;
    margin: auto;
}

.card {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 12px;
}

.course-card {
    margin-top: 15px;
    padding: 15px;
    border-radius: 12px;
    background: #f5faff;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    width: 220px;
    height: 14px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: linear-gradient(90deg, #00bfff, #007acc);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 колонки */
    gap: 10px;
    margin-top: 20px;
}

.back-btn {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #00bfff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.back-btn:hover {
    background: #009acd;
}

.logout {
    background: #ff4d4d;
}

.logout:hover {
    background: #cc0000;
}

canvas {
    margin-top: 20px;
    max-width: 250px;
    max-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.back-btn {
    width: 100%;
    margin-top: 20px;
    padding: 14px;

    background: #00bfff;
    color: white;

    border: none;
    border-radius: 12px;

    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
}

.back-btn:hover {
    background: #009acd;
}

.back-btn:active {
    transform: scale(0.96);
}