body {
    background: #f5f7fb;
    margin: 0;
    padding: 0 250px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.shop-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}

h2 {
    padding: 0 200px;
    font-size: 22px;
    color: #333;
}

.shop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
}

.shop-card {
    background: white;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 20px;

    text-align: center;
    cursor: pointer;

    border: 2px solid transparent;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: 0.2s;
}

.shop-card:hover {
    transform: translateY(-5px);
    border-color: #00bfff;
}

.shop-card.locked {
    background: #ddd;
    opacity: 0.6;
    pointer-events: none;
}

.shop-card .title {
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}

.shop-card .price {
    color: #007acc;
}

.back-btn {
    display: inline-block;
    width: 80%;
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 12px;

    background: #00bfff;
    color: white;

    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.back-btn:hover {
    background: #009acd;
}

/* 📱 мобілка */
@media (max-width: 500px) {
    .shop-grid {
        grid-template-columns: 1fr; /* 1 колонка */
    }

    .back-btn {
        width: 80%; /* На мобільних можна трохи ширше */
    }
}